*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid
}

:root {
--font-de-page-dark: rgb(52, 52, 52);
--couleur-du-text: rgb(244, 241, 241);
--couleur-de-la-boite: rgb(101, 72, 101);
--touches: rgb(122, 122, 122);
}

body {
  background-color: var(--font-de-page-dark);
  color: var(--couleur-du-text);
  font-family: Arial, Helvetica, sans-serif;

}

#drum-machine{
  width: 350px;
  height: 450px;
  margin: 5% auto;
  background-color: var(--couleur-de-la-boite);
  border-radius: 8px;
}

#pad-bank{
  width: 80%;
  padding-top: 20px;
  margin: 10% auto;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.drum-pad{
  background-color: var(--touches);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.drum-pad.active {
  background-color: rgb(190, 134, 30);
  transform: scale(0.95);
}


#display{
  background-color: var(--touches);
  width: 80%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

.volume-slider{
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.volume-slider input[type="range"] {
  accent-color: orange;
}
